.home {
    display: flex;
    flex-direction: column;
    padding: 24px 0;

    &__section {
    }
}

.cargo-section {
    &__summary {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
    }

    &__list {
        margin-top: 24px;
    }
}
